<template>
    <VDataTable
        :loading="loading"
        :items="bills"
        :headers="headers"
    >
        <template v-slot:top>
            <VToolbar>
                <VToolbarTitle>Bills</VToolbarTitle>
                <VToolbarItems>
                    <VBtn
                        color="secondary"
                        prepend-icon="mdi-plus"
                        variant="flat"
                        @click="dialogOpen = true"
                    >
                        Create
                    </VBtn>
                    <EditBillDialog v-model="dialogOpen" />


                    <VDialog v-model="deleteDialogOpen" max-width="500px">
                        <VCard>
                            <VCardTitle class="text-wrap text-center">
                                Are you sure you want to delete {{ bill.date }} {{ bill.location.name }} {{ totalAmount(bill) }}?
                            </VCardTitle>
                            <VCardActions>
                                <VBtn color="primary" variant="text" @click="confirmDelete()">OK</VBtn>
                                <VBtn variant="text" @click="close()">Cancel</VBtn>
                            </VCardActions>
                        </VCard>
                    </VDialog>
                </VToolbarItems>
            </VToolbar>
        </template>

        <template v-slot:item.actions="{ item }">
            <VBtn
                @click="editBill(item)"
                icon="mdi-pencil"
                density="comfortable"
                variant="tonal"
            ></VBtn>
            <VBtn
                @click="deleteBill(item)"
                class="ml-1"
                icon="mdi-delete"
                density="comfortable"
                variant="tonal"
                color="red-lighten-1"
            ></VBtn>
        </template>

        <template v-slot:item.amount="{ item }">
            {{ totalAmount(item) }}
        </template>

        <template v-slot:no-data>
            No bills available.
        </template>
    </VDataTable>
</template>

<script setup lang="ts">
import currencyJS from "currency.js";
import { ref, Ref, onMounted, watch } from "vue";

import type { Bill, BillErrors, Entry } from "../models";
import EditBillDialog from "../components/EditBillDialog.vue";
import billService from "../services/billService.ts";

const headers = [
    { title: "Date", key: "date", align: "start", nowrap: true } as const,
    { title: "Location", key: "location.name", nowrap: true } as const,
    { title: "Amount", key: "amount", nowrap: true } as const,
    { title: "Actions", key: "actions", align: "end", sortable: false, nowrap: true } as const,
];

const bills: Ref<Bill[]> = ref([]);
const bill: Ref<Bill> = ref({
    id: "",
    date: "",
    notes: "",
    currency: { id: "", name: "", code: "", symbol: "" },
    location: { id: "", name: "" },
    entries: [],
});
const formErrors: Ref<BillErrors> = ref({});
const dialogOpen: Ref<boolean> = ref(false);
const deleteDialogOpen: Ref<boolean> = ref(false);
const loading: Ref<boolean> = ref(true);

function totalAmount(bill: Bill) {
    const amount = bill.entries.reduce((acc: currencyJS, entry: Entry) => {
        return acc.add(entry.amount);
    }, currencyJS(0));

    return `${amount.value} ${bill.currency.symbol}`;
}

watch([dialogOpen, deleteDialogOpen], ([newDialogOpen, newDeleteDialogOpen]) => {
    if (!newDialogOpen && !newDeleteDialogOpen) {
        close();
    }
});

function close() {
    dialogOpen.value = false;
    deleteDialogOpen.value = false;
    formErrors.value = {};
    bill.value = {
        id: "",
        date: "",
        notes: "",
        currency: { id: "", name: "", code: "", symbol: "" },
        location: { id: "", name: "" },
        entries: [],
    };
}

function save() {
    throw new Error("Not implemented");
}

function editBill(item: Bill) {
    const billToUpdate: Bill|undefined = bills.value.find(b => b.id === item.id);
    if (billToUpdate === undefined) {
        throw new Error("Couldn't find bill with id even though we clicked on it just now!");
    }

    bill.value = {
        id: billToUpdate.id,
        date: billToUpdate.date,
        notes: billToUpdate.notes,
        currency: billToUpdate.currency,
        location: billToUpdate.location,
        entries: billToUpdate.entries,
    };
    dialogOpen.value = true;
}

function deleteBill(item: Bill) {
    const billToDelete: Bill|undefined = bills.value.find(b => b.id === item.id);
    if (billToDelete === undefined) {
        throw new Error("Couldn't find bill with id even though we clicked on it just now!");
    }

    bill.value = {
        id: billToDelete.id,
        date: billToDelete.date,
        notes: billToDelete.notes,
        currency: billToDelete.currency,
        location: billToDelete.location,
        entries: billToDelete.entries,
    };
    deleteDialogOpen.value = true;
}

function confirmDelete() {
    throw new Error("Not implemented");
}

onMounted(async () => {
    const { data, errors } = await billService.getBills();
    if (data === undefined) {
        console.error("Received bills data as undefined");
        console.error(errors);
        throw new Error("Could not get bills");
    }
    bills.value = data;
    loading.value = false;
});
</script>
