<template>
    <VDataTable
        :loading="loading"
        :items="categories"
        :headers="headers"
    >
        <template v-slot:top>
            <VToolbar>
                <VToolbarTitle>Categories</VToolbarTitle>
                <VToolbarItems>
                    <VDialog v-model="dialogOpen" max-width="500px">
                        <template v-slot:activator="{ props: activatorProps }">
                            <VBtn
                                v-bind="activatorProps"
                                color="secondary"
                                prepend-icon="mdi-plus"
                                variant="flat"
                            >
                                Create
                            </VBtn>
                        </template>
                        <template v-slot:default>
                            <VCard>
                                <VCardTitle>Create New Category</VCardTitle>
                                <VCardText>
                                    <CategoryFormFields
                                        v-model="category"
                                        :errors="formErrors"
                                    />
                                </VCardText>
                                <VCardActions>
                                    <VBtn color="primary" @click="save()">Submit</VBtn>
                                    <VBtn @click="close()">Close</VBtn>
                                </VCardActions>
                            </VCard>
                        </template>
                    </VDialog>

                    <VDialog v-model="deleteDialogOpen" max-width="500px">
                        <VCard>
                            <VCardTitle class="text-wrap text-center">
                                Are you sure you want to delete {{ category.name }}?
                            </VCardTitle>
                            <VCardActions>
                                <VBtn color="primary" variant="text" @click="confirmDelete()">OK</VBtn>
                                <VBtn variant="text" @click="cancelDelete()">Cancel</VBtn>
                            </VCardActions>
                        </VCard>
                    </VDialog>
                </VToolbarItems>
            </VToolbar>
        </template>

        <template v-slot:item.actions="{ item }">
            <VBtn
                @click="editCategory(item)"
                icon="mdi-pencil"
                density="comfortable"
                variant="tonal"
            ></VBtn>
            <VBtn
                @click="deleteCategory(item)"
                class="ml-1"
                icon="mdi-delete"
                density="comfortable"
                variant="tonal"
                color="red-lighten-1"
            ></VBtn>
        </template>

        <template v-slot:no-data>
            No categories available.
        </template>
    </VDataTable>
</template>

<script setup lang="ts">
import { ref, Ref, onMounted, watch } from "vue";

import type { Category, CategoryErrors } from "../models.ts";
import CategoryFormFields from "../components/model-forms/CategoryFormFields.vue";
import categoryService from "../services/categoryService.ts";

const headers = [
    { title: "Name", key: "name", align: "start" } as const,
    { title: "Actions", key: "actions", sortable: false, align: "end" } as const,
];

const categories: Ref<Category[]> = ref([]);
const category: Ref<Category> = ref({ id: "", name: "" });
const formErrors: Ref<CategoryErrors> = ref({});
const dialogOpen: Ref<boolean> = ref(false);
const deleteDialogOpen: Ref<boolean> = ref(false);
const loading: Ref<boolean> = ref(true);

watch([dialogOpen, deleteDialogOpen], ([newDialogOpen, newDeleteDialogOpen]) => {
    if (!newDialogOpen && !newDeleteDialogOpen) {
        close();
    }
});

watch(category, (newCategory, oldCategory) => {
    if (newCategory.name !== oldCategory.name) {
        formErrors.value.name = [];
    }
});

// Reset dialog related values and close the dialogs.
function close() {
    category.value = { id: "", name: "" };
    formErrors.value = {};
    dialogOpen.value = false;
    deleteDialogOpen.value = false;
}

async function save() {
    if (category.value.id && category.value.id !== "") {
        // We updatin'
        const { data, errors } = await categoryService.updateCategory(category.value);
        if (errors !== undefined) {
            console.log("Received errors while updating");
            formErrors.value = errors;
            return;
        }

        console.log("Updated category");
        const updatedCategoryIndex = categories.value.findIndex(c => c.id === category.value.id);
        categories.value[updatedCategoryIndex] = data;
        close();
    } else {
        // We creatin'
        const { data, errors } = await categoryService.createCategory(category.value);
        if (errors !== undefined) {
            console.log("Received errors while creating");
            formErrors.value = errors;
            return;
        }

        console.log("Created category");
        categories.value.push(data);
        close();
    }
}

function editCategory(item: Category) {
    const categoryToUpdate: Category|undefined = categories.value.find(c => c.id === item.id);
    if (categoryToUpdate === undefined) {
        throw new Error("Couldn't find category with id even though we clicked on it just now!");
    }

    category.value = {
        id: categoryToUpdate.id,
        name: categoryToUpdate.name,
    }
    dialogOpen.value = true;
}

function deleteCategory(item: Category) {
    const categoryToDelete: Category|undefined = categories.value.find(c => c.id === item.id);
    if (categoryToDelete === undefined) {
        throw new Error("Couldn't find category with id even though we clicked on it just now!");
    }

    category.value = {
        id: categoryToDelete.id,
        name: categoryToDelete.name,
    }
    deleteDialogOpen.value = true;
}

async function confirmDelete() {
    await categoryService.deleteCategory(category.value);
    categories.value = categories.value.filter(c => c.id !== category.value.id);
    console.log("Deleted category");
    close();
}

function cancelDelete() {
    close();
}

onMounted(async () => {
    const { data, errors } = await categoryService.getCategories();
    if (data === undefined) {
        console.error("Received category data as undefined");
        console.error(errors);
        throw new Error("Could not get categories");
    }
    categories.value = data;
    loading.value = false;
});
</script>
