<template>
    <v-data-table
        :loading="loading"
        :items="currencies"
        :headers="headers"
    >
        <template v-slot:top>
            <v-toolbar>
                <v-toolbar-title>Currencies</v-toolbar-title>
                <v-toolbar-items>
                    <v-dialog v-model="dialogOpen" max-width="500px">
                        <template v-slot:activator="{ props: activatorProps }">
                            <v-btn
                                v-bind="activatorProps"
                                color="secondary"
                                prepend-icon="mdi-plus"
                                variant="flat"
                            >
                                Create
                            </v-btn>
                        </template>

                        <template v-slot:default>
                            <v-card>
                                <v-card-title>Create New Currency</v-card-title>
                                <v-card-text>
                                    <CurrencyFormFields
                                        v-model="currency"
                                        :errors="formErrors"
                                    />
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn color="primary" @click="save()">Submit</v-btn>
                                    <v-btn @click="close()">Close</v-btn>
                                </v-card-actions>
                            </v-card>
                        </template>
                    </v-dialog>

                    <v-dialog v-model="deleteDialogOpen" max-width="500px">
                        <v-card>
                            <v-card-title class="text-wrap text-center">Are you sure you want to delete {{ currency.name }}</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                    <v-btn color="primary" variant="text" @click="confirmDelete">OK</v-btn>
                                    <v-btn variant="text" @click="cancelDelete">Cancel</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                </v-toolbar-items>
            </v-toolbar>
        </template>

        <template v-slot:item.actions="{ item }">
            <v-btn
                @click="editCurrency(item)"
                icon="mdi-pencil"
                density="comfortable"
                variant="tonal"
            ></v-btn>
            <v-btn
                @click="deleteCurrency(item)"
                class="ml-1"
                icon="mdi-delete"
                density="comfortable"
                variant="tonal"
                color="red-lighten-1"
            ></v-btn>
        </template>

        <template v-slot:no-data>
            No currencies available.
        </template>
    </v-data-table>
</template>

<script setup lang="ts">
import { ref, Ref, onMounted, watch } from "vue";

import type { Currency, CurrencyErrors } from "../models";
import CurrencyFormFields from "../components/model-forms/CurrencyFormFields.vue";
import currencyService from "../services/currencyService.ts";

const headers = [
    { title: "Name", key: "name", align: "start" } as const,
    { title: "Code", key: "code" } as const,
    { title: "Actions", key: "actions", align: "end", sortable: false } as const,
]

const currencies: Ref<Currency[]> = ref([]);
const currency: Ref<Currency> = ref({ id: "", name: "", code: "", symbol: "" });
const deleteDialogOpen: Ref<boolean> = ref(false);
const dialogOpen: Ref<boolean> = ref(false);
const formErrors: Ref<CurrencyErrors> = ref({})
const loading: Ref<boolean> = ref(true);

watch([dialogOpen, deleteDialogOpen], ([newDialogOpen, newDeleteDialogOpen]) => {
    if (!newDialogOpen && !newDeleteDialogOpen) {
        close();
    }
});

watch(currency, (newCurrency, oldCurrency) => {
    if (newCurrency.name !== oldCurrency.name) {
        formErrors.value.name = [];
    }
    if (newCurrency.code !== oldCurrency.code) {
        formErrors.value.code = [];
    }
    if (newCurrency.symbol !== oldCurrency.symbol) {
        formErrors.value.symbol = [];
    }
});

/* Reset dialog related values and close the dialogs */
function close() {
    currency.value = { id: "", name: "", code: "", symbol: "" };
    formErrors.value = {};
    dialogOpen.value = false;
    deleteDialogOpen.value = false;
}

async function save() {
    if (currency.value.id && currency.value.id !== "") {
        const { data, errors } = await currencyService.updateCurrency(currency.value);
        if (errors !== undefined) {
            console.log("Received back errors while updating");
            formErrors.value = errors;
            return;
        }
        console.log("Updated currency");
        // Find the currency in the currencies ref and update it
        const updatedCurrencyIndex = currencies.value.findIndex(c => c.id === currency.value.id);
        currencies.value[updatedCurrencyIndex] = data;
        close();
    } else {
        const { data, errors } = await currencyService.createCurrency(currency.value);
        if (errors !== undefined) {
            console.log("Received back errors while creating");
            formErrors.value = errors;
            return;
        }
        console.log("Created currency");
        currencies.value.push(data);
        close();
    }
}

function editCurrency(item: Currency) {
    const currencyToUpdate: Currency|undefined = currencies.value.find(c => item.id === c.id);
    if (currencyToUpdate === undefined) {
        throw Error("Couldn't find currency with id even though we clicked on it just now!");
    }

    currency.value = {
        id: currencyToUpdate.id,
        name: currencyToUpdate.name,
        code: currencyToUpdate.code,
        symbol: currencyToUpdate.symbol,
    };
    dialogOpen.value = true;
}

function deleteCurrency(item: Currency) {
    const currencyToUpdate: Currency|undefined = currencies.value.find(c => item.id === c.id);
    if (currencyToUpdate === undefined) {
        throw Error("Couldn't find currency with id even though we clicked on it just now!");
    }

    currency.value = {
        id: currencyToUpdate.id,
        name: currencyToUpdate.name,
        code: currencyToUpdate.code,
        symbol: currencyToUpdate.symbol,
    };
    deleteDialogOpen.value = true;
}

async function confirmDelete() {
    await currencyService.deleteCurrency(currency.value.id);
    currencies.value = currencies.value.filter(c => c.id !== currency.value.id);
    console.log("Deleted currency");
    close();
}

function cancelDelete() {
    close();
}


onMounted(async () => {
    const { data, errors } = await currencyService.getCurrencies();
    if (data === undefined) {
        console.error("Recieved currency data as undefined");
        console.error(errors);
        throw new Error("Could not get currencies");
    }
    currencies.value = data;
    loading.value = false;
});

</script>
