<template>
    <VDataTable
        :loading="loading"
        :items="locations"
        :headers="headers"
    >
        <template v-slot:top>
            <VToolbar>
                <VToolbarTitle>Locations</VToolbarTitle>
                <VToolbarItems>
                    <VDialog v-model="dialogOpen" max-width="500px">
                        <template v-slot:activator="{ props: activatorProps }">
                            <VBtn
                                v-bind="activatorProps"
                                color="secondary"
                                prepend-icon="mdi-plus"
                                variant="flat"
                            >
                                Create
                            </VBtn>
                        </template>
                        <template v-slot:default>
                            <VCard>
                                <VCardTitle>Create New Location</VCardTitle>
                                <VCardText>
                                    <LocationFormFields
                                        v-model="location"
                                        :errors="formErrors"
                                    />
                                </VCardText>
                                <VCardActions>
                                    <VBtn color="primary" @click="save()">Submit</VBtn>
                                    <VBtn @click="close()">Close</VBtn>
                                </VCardActions>
                            </VCard>
                        </template>
                    </VDialog>

                    <VDialog v-model="deleteDialogOpen" max-width="500px">
                        <VCard>
                            <VCardTitle class="text-wrap text-center">
                                Are you sure you want to delete {{ location.name }}?
                            </VCardTitle>
                            <VCardActions>
                                <VBtn color="primary" variant="text" @click="confirmDelete()">OK</VBtn>
                                <VBtn variant="text" @click="cancelDelete()">Cancel</VBtn>
                            </VCardActions>
                        </VCard>
                    </VDialog>
                </VToolbarItems>
            </VToolbar>
        </template>

        <template v-slot:item.actions="{ item }">
            <VBtn
                @click="editLocation(item)"
                icon="mdi-pencil"
                density="comfortable"
                variant="tonal"
            ></VBtn>
            <VBtn
                @click="deleteLocation(item)"
                class="ml-1"
                icon="mdi-delete"
                density="comfortable"
                variant="tonal"
                color="red-lighten-1"
            ></VBtn>
        </template>

        <template v-slot:no-data>
            No locations available.
        </template>
    </VDataTable>
</template>

<script setup lang="ts">
import { ref, Ref, onMounted, watch } from "vue";

import type { Location, LocationErrors } from "../models.ts";
import LocationFormFields from "../components/model-forms/LocationFormFields.vue";
import locationService from "../services/locationService.ts";

const headers = [
    { title: "Name", key: "name", align: "start" } as const,
    { title: "Actions", key: "actions", sortable: false, align: "end" } as const,
];

const dialogOpen: Ref<boolean> = ref(false);
const deleteDialogOpen: Ref<boolean> = ref(false);
const locations: Ref<Location[]> = ref([]);
const location: Ref<Location> = ref({ id: "", name: "" });
const formErrors: Ref<LocationErrors> = ref({});
const loading: Ref<boolean> = ref(false);

// Run the close cleanup function if both dialogs have been closed
watch([dialogOpen, deleteDialogOpen], ([newDialogOpen, newDeleteDialogOpen]) => {
    if (!newDialogOpen && !newDeleteDialogOpen) {
        close();
    }
});

watch(location, (newLocation, oldLocation) => {
    if (newLocation.name !== oldLocation.name) {
        formErrors.value.name = [];
    }
});

function close() {
    location.value = { id: "", name: "" };
    formErrors.value = {};
    dialogOpen.value = false;
    deleteDialogOpen.value = false;
}

async function save() {
    if (location.value.id && location.value.id !== "") {
        //We're updating
        const { data, errors } = await locationService.updateLocation(location.value);
        if (errors !== undefined) {
            console.log("Received errors while updating");
            formErrors.value = errors;
            return;
        }

        console.log("Updated location");
        const updatedLocationIndex = locations.value.findIndex(l => l.id === location.value.id);
        locations.value[updatedLocationIndex] = data;
        close();
    } else {
        // We're creating
        const { data, errors } = await locationService.createLocation(location.value);
        if (errors !== undefined) {
            console.log("Received errors while creating");
            formErrors.value = errors;
            return;
        }

        console.log("Created location");
        locations.value.push(data);
        close();
    }
}

function editLocation(item: Location) {
    const locationToUpdate: Location|undefined = locations.value.find(l => l.id === item.id);
    if (locationToUpdate === undefined) {
        throw new Error("Couldn't find location with id even though we just clicked on it!");
    }

    location.value = {
        id: locationToUpdate.id,
        name: locationToUpdate.name,
    }
    dialogOpen.value = true;
}

function deleteLocation(item: Location) {
    const locationToDelete: Location|undefined = locations.value.find(l => l.id === item.id);
    if (locationToDelete === undefined) {
        throw new Error("Couldn't find location with id even though we just clicked on it!");
    }

    location.value = {
        id: locationToDelete.id,
        name: locationToDelete.name,
    }
    deleteDialogOpen.value = true;
}

async function confirmDelete() {
    await locationService.deleteLocation(location.value);
    locations.value = locations.value.filter(l => l.id !== location.value.id);
    console.log("Deleted location");
    close();
}

function cancelDelete() {
    close();
}

onMounted(async () => {
    const { data, errors } = await locationService.getLocations();
    if (data === undefined) {
        console.error("Received locations data as undefined");
        console.error(errors);
        throw new Error("Could not get locations");
    }
    locations.value = data;
    loading.value = false;
});
</script>
