<template>
    <v-text-field
        v-model="name"
        label="Name"
        :error-messages="nameError"
    />
    <v-text-field
        v-model="code"
        label="Code"
        :error-messages="codeError"
    />
    <v-text-field
        v-model="symbol"
        label="Symbol"
        :error-messages="symbolError"
    />
</template>

<script setup lang="ts">
import { ref, Ref, computed, watch } from "vue";

import type { Currency, CurrencyErrors } from "../../models.ts";

const emit = defineEmits<{
    (e: "update:modelValue", currency: Currency): void,
}>();

const props = defineProps<{
    modelValue: Currency,
    errors: CurrencyErrors,
}>();

const name = ref(props.modelValue.name);
const code = ref(props.modelValue.code);
const symbol = ref(props.modelValue.symbol);

watch(name, (_) => emitUpdateModelValue());
watch(code, (_) => emitUpdateModelValue());
watch(symbol, (_) => emitUpdateModelValue());

function emitUpdateModelValue() {
    emit("update:modelValue", {
        id: props.modelValue.id,
        name: name.value,
        code: code.value,
        symbol: symbol.value,
    });
}

const nameError = computed(() => props.errors.name || undefined);
const codeError = computed(() => props.errors.code || undefined);
const symbolError = computed(() => props.errors.symbol || undefined);

</script>
