<template>
    <VTextField
        v-model="name"
        label="Name"
        :error-messages="nameError"
    />
</template>

<script setup lang="ts">
import { ref, Ref, computed, watch } from "vue";
import type { Location, LocationErrors } from "../../models.ts";

const emit = defineEmits<{
    (e: "update:modelValue", location: Location): void,
}>();

const props = defineProps<{
    modelValue: Location,
    errors: LocationErrors,
}>();

const name = ref(props.modelValue.name);
watch(name, (_) => emitUpdateModelValue());

function emitUpdateModelValue() {
    emit("update:modelValue", {
        id: props.modelValue.id,
        name: name.value,
    });
}

const nameError = computed(() => props.errors.name || undefined);

</script>
