<template>
    <VTextField
        v-model="dateDisplay"
        label="Date"
    >
        <VMenu
            activator="parent"
            v-model="showDateMenu"
            :close-on-content-click="false"
            location="center"
        >
            <VConfirmEdit
                v-model="date"
                @save="showDateMenu = false"
            >
                <template v-slot:default="{ model: proxyModel, actions }">
                    <VDatePicker v-model="proxyModel.value">
                        <template v-slot:actions>
                            <component :is="actions"></component>
                        </template>
                    </VDatePicker>
                </template>
            </VConfirmEdit>
        </VMenu>
    </VTextField>
</template>

<script setup lang="ts">
import { ref, watch } from "vue";

import type { Ref } from "vue";

const props = defineProps<{
    modelValue: string,
}>();

const emit = defineEmits<{
    (e: "update:modelValue", date: string): void,
}>();

const showDateMenu: Ref<boolean> = ref(false);
const date: Ref<Date> = ref(new Date());
const dateDisplay: Ref<string> = ref("");

watch(date, (newDate) => {
    const dateString = formatDate(newDate);
    dateDisplay.value = dateString;
    emit("update:modelValue", dateString);
});

function formatDate(date: Date): string {
    const year = date.getFullYear();
    // date.getMonth returns a zero-based month number (i.e. January == 0)
    const month = date.getMonth() + 1;
    const day = date.getDate();

    const yearString = year.toString();

    const monthString = month < 10
        ? "0" + month.toString()
        : month.toString();

    const dayString = day < 10
        ? "0" + day.toString()
        : day.toString();

    return `${yearString}-${monthString}-${dayString}`;
}

</script>
