<template>

    <VDialog
        :modelValue="props.modelValue"
        @update:modelValue="(value) => emit('update:modelValue', value)"
        max-width="500px"
    >
        <template v-slot:default>
            <VCard>
                <VCardTitle>Create new Bill</VCardTitle>

                <VCardText>
                    <DateInput v-model="date" />
                </VCardText>

                <VCardActions>
                    <VBtn color="primary" @click="">Submit</VBtn>
                    <VBtn @click="emit('update:modelValue', false)">Close</VBtn>
                </VCardActions>
            </VCard>
        </template>
    </VDialog>

</template>

<script setup lang="ts">
import { ref, watch } from "vue";

import DateInput from "./DateInput.vue";

import type { Ref } from "vue";
import type { Bill, BillErrors } from "../models.ts";

const props = defineProps<{
    // modelValue controls if the dialog is open
    modelValue: boolean,
}>();

const emit = defineEmits<{
    (e: "update:modelValue", modelValue: boolean): void,
}>();

const date: Ref<string> = ref("");
</script>
