<template>
    <v-app-bar color="primary">
        <template v-slot:prepend>
            <v-app-bar-nav-icon @click="toggleDrawerOpened" />
        </template>

        <v-app-bar-title>Finances</v-app-bar-title>
    </v-app-bar>

    <v-navigation-drawer :elevation="4" v-model="isDrawerOpened">
        <v-list nav density="compact" :lines="false">
            <v-list-item
                v-for="link in navLinks"
                :key="link.label"
                :value="link"
                :to="link.route"
            >
                <v-list-item-title v-text="link.label"></v-list-item-title>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script setup lang="ts">
import { ref, Ref, watch } from "vue";

interface NavigationLink {
    label: string;
    route: {
        name: string;
    };
}

const navLinks: NavigationLink[] = [
    { label: "Home", route: { name: "home" }},
    { label: "Bill", route: { name: "bill:list" }},
    { label: "Categories", route: { name: "category:list" }},
    { label: "Currencies", route: { name: "currency:list" }},
    { label: "Locations", route: { name: "location:list" }},
];

// If we set this to null, the v-navigation-drawer will automatically determine
// if we're using desktop or mobile and set the value to true or false depending
// on the platform.
const isDrawerOpened: Ref<boolean|null> = ref(null);

// Toggle the drawer. Account for the fact that the isDrawerOpened ref *can* be null.
function toggleDrawerOpened(): void {
    if (isDrawerOpened.value === null) {
        isDrawerOpened.value = true;
        return;
    }

    isDrawerOpened.value = !isDrawerOpened.value;
}
</script>
