<template>
    <v-app>
        <v-layout>
            <Navigation />
            <v-main>
                <v-container>
                    <VAlert
                        v-if="alert"
                        title="Something went wrong"
                        type="error"
                        closable
                        class="mb-2"
                        variant="tonal"
                        border="start"
                        @click:close="clearAlert()"
                    >
                        {{ alert }}
                    </VAlert>
                    <RouterView />
                </v-container>
            </v-main>
        </v-layout>
    </v-app>
</template>

<script setup lang="ts">
import { onErrorCaptured, ref } from "vue";
import type { Ref, ComponentPublicInstance } from "vue";
import { RouterView } from "vue-router";

import Navigation from "./components/Navigation.vue";

const alert: Ref<string> = ref("");

function clearAlert() {
    alert.value = "";
}

onErrorCaptured((err: unknown, instance: ComponentPublicInstance | null, info: string) => {
    if (err instanceof Error) {
        console.log("We're dealing with an error");
        alert.value = err.message;
    } else {
        console.log("Don't know the type...");
        console.log(typeof err);
        console.log((err as object).constructor.name);
        alert.value = String(err);
    }
});

</script>
